/* @import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap); */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

ul {
    padding-inline-start: 0;
}

li {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: normal;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
    text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Make sure textarea without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

.header {
    max-width: 100%;
    margin: 0 auto;
    max-height: 76px;
    box-shadow: inset 0 -2px 0 0 #eff2f2;

}

.container {

    margin: auto;
    max-width: 1200px;
}

.header-container,
.hero-container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
}

.hero-container {
    justify-content: space-between;
    margin-bottom: 24px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    width: 51px;
    height: 36px;
    margin: 20px 51px 20px 0;
}

.header__navigation-menu {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
    white-space: nowrap;
}

.header__navigation-menu_link,
.header-button,
.burger {
    list-style: none;
}

.burger {
    display: none;
}

.header__navigation-menu_link {
    font-weight: 500;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.header-button {
    font-weight: 700;
    background: #e3f5f5;
    border-radius: 4px;
    border: none;
    color: #03b2a5;
    width: 230px;
    height: 48px;
    position: relative;
    margin-left: auto;
}

#arrow-down {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 8px;
}

.hero__title {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    margin-bottom: 4px;
}

.hero2 {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.hero2__info {
    width: 384px;
    height: 475px;
    border-radius: 16px;
  border: 1px solid rgba(222, 222, 222, 1);

}

.hero2__tag {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
}

.nav-links {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    color: #333;
    text-decoration: none;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    margin-top: 30px;
}

.breadcrumb {
    display: flex;
    margin-top: 16px;
}

.breadcrumb__list_item {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
    text-align: center;
}

.breadcrumb span {
    display: block;
    margin: 0 8px 0 4px;
}

.filters__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
    font-weight: 600;
    padding: 0;
}

.filters__list_item {
    list-style: none;
    border: 1px solid #c1c5cd;
    border-radius: 24px;
    padding: 6px 8px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 0;

}
.filters__list_item div {
    display: flex;
}
#emoji {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 4px;
}

.filters__list :nth-child(3) {
    border: 2px solid #16c8bb;
}

.hero__info {
    width: 588px;
    height: 499px;
    position: relative;
}

.hero2__title {

    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    margin-bottom: 4px;
}

.hero__content {
    width: 588px;
    height: 240px;
    border: 1px solid #DEDEDE;
    border-radius: 0 0 16px 16px;
}

.hero__img {
    border-radius: 16px 16px 0 0;
}

.hero2__img {
    border-radius: 16px 16px 0 0;
}

.hero__date {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.25px;
  text-align: left;
  color: rgba(134, 134, 134, 1);
  
}

.hero__tag, .hero2__tag {
    position: absolute;
    top: 8px;
    left: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero__category {
    height: 32px;
    padding: 6px 8px 6px 8px;
    border-radius: 24px;
    border: 1px solid #C1C5CD;
    background: rgba(255, 255, 255, 0.7);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 8px;
    display: flex;
    align-items: flex-start;
}

.hero2__category {
    height: 32px;
    padding: 6px 8px 6px 8px;
    border-radius: 24px;
    border: 1px solid #C1C5CD;
    background: rgba(255, 255, 255, 0.7);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 8px;
    display: flex;
    align-items: flex-start;
}

.hero__category img {
    margin-right: 4px;
}

.hero__small {
    display: flex;
    margin: 24px 8px 6px 8px;
    padding: 40px;
    width: 384px;
    height: 260px;
}


.hero__fig {
    padding: 16px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 240px;
}

.hero2__fig {
    padding: 16px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 220px;
}


.hero__author {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
    text-align: left;
}

.hero__p {
    margin-top: 8px;
}

.hero2__content {
    margin-top: 8px;

}


.hero-position {
    position: relative;
}

.hero2__button {
    margin: 56px auto 96px;
    color: white;
    background-color: #35B3A9;
    width: 182px;
    height: 48px;
    display: flex;
    align-items: center;
font-family: Montserrat;
font-size: 16px;
font-weight: 700;
line-height: 24px;
justify-content: center;
border-radius: 4px;
border: none;

}

.gallery {
    margin-top: 28px;
    display: grid;
    grid-gap: 24px;
    width: 1200px;
    height: 1500px;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 24px;
    row-gap: 24px;
}

.gallery__background {
    position: absolute;
    z-index: 0;
    top: 325px;
    left: 0;
    width: 100%;
    max-height: 100%;
}

.gallery__item {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 16px;
    border: 1px solid #DEDEDE;
    overflow: hidden;
    grid-column: span 3;
    height: 499px;
}

.gallery__item_small {
    grid-column: span 2;
    height: 475px;
}


.gallery__item_filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 0;
    margin: 0;
}

.gallery__filter {
    background-color: rgba(255, 255, 255, 0.7);
    margin-left: 8px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
}

.filters__list :hover {
    border: 2px solid #16c8bb;
}

.filters__list_item :hover {
    border: none;
}

picture {
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    max-height: 100%;

}

.gallery__item_image {

    overflow: hidden;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px;
    gap: 8px;

}

.review__title {
    font-size: 18px;
    font-weight: bold;
}

.review__author {
    font-size: 12px;
    font-weight: 400;
}

.review__article {
    font-size: 14px;
    font-weight: 400;
}

.review__date {
    justify-self: flex-end;
    font-size: 12px;
    padding-top: 68px;
}

.review__date_small {
    padding-top: 24px;
}

.button__more {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


footer{
  background-color: #2963A3;
  color: #fff;
  width: 100%;


}
.footer {
width: 1200px;
  margin: auto;
  display: flex;
padding: 40px 0 78px 0;
  justify-content: space-between;
}

.footer__item{
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
margin-bottom: 16px;
}

.footer__input {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
}

.footer__letter {
  width: 486px;
}

.footer__button_info {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.25px;
  text-align: left;
  opacity: 0.7;

}

.footer-end {
    box-shadow: inset 0 1px 0 0 rgba(157, 157, 157, 0.30);
    display: flex;
    justify-content: flex-start;
    gap: 48px;
    padding: 16px 0;
    opacity: 0.7;
    font-weight: 400;
}

.footer-wrapper {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 310px 486px 221px;
    grid-column-gap: 91.5px;
    margin-bottom: 24px;
}


.footer__navigation-menu {
    /*grid-column: 310px;*/
    display: grid;
    grid-template-columns: 50% 50%;
    height: 184px;
    font-size: 16px;
    font-weight: bold;
    justify-content: space-around;
    align-items: flex-start;
    row-gap: 16px;
    margin: 0;

}

.footer-form__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 144%;
    white-space: nowrap;
}

.footer-form {
    height: 170px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer__letter form {
    display: flex;
    margin: 8px 0 8px;

}

.footer__button {
width: 64px;
height: 48px;
border-radius: 4px;
border: none;
background: rgba(22, 200, 187, 1);
display: flex;
justify-content: center;
align-items: center;
}


.skolkovo{
display: flex;
}

.footer__skolkovo {
padding-right: 8px;
}
.footer__info {
display: flex;
  width: 176px;
  justify-content: space-between;
margin: 40px 0 0;
}


.footer__links {
  border-top: 1px solid #FFF;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 16px 0 17px 0;
  opacity: 0.7;

}

.footer__links_list {
  margin-right: 48px;
  font-family: Montserrat;
}
.footer__text {
    display: flex;
    width: 310px;
    justify-content: space-between;
}
input {
    border: 1px solid rgba(157, 157, 157, 0.2);
    border-radius: 4px;
    width: 319px;
    height: 48px;
}

.social {
    /*grid-column: 221px;*/
    width: 221px;
    height: 122px;
}

.social__wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
}

.social__networks {
    padding-top: 40px;
    display: flex;
    gap: 16px;
    cursor: pointer;
}


.personal-data {
    align-self: flex-start;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.7;

}


/* Ipad pro */
@media (max-width: 1024px) {
    .container {
        max-width: 934px;
    }

    .header {
        max-width: 1024px;
    }

    .header-container {
        justify-content: space-between;

    }

    .logo {
        margin: 20px 0;
    }

    .header__navigation-menu {
        justify-content: space-between;
        gap: 16px;
        padding-left: 32px;
    }

    .gallery {
        grid-template-columns: repeat(6, 1fr);
        /*grid-template-rows: repeat(3, auto-fit);*/
    }

    .hero-container {
        flex-wrap: wrap;
        
    }
}


/* Ipad Mini */
@media (max-width: 768px) {
    .container {
        max-width: 728px;
    }

    .header {
        max-width: 768px;
    }
    

    .header__navigation-menu {
        display: none;
    }

    .header-button {
        display: none;
    }

    .burger {
        display: flex;
    }
    .hero-container {
        flex-wrap: wrap;
        margin-bottom: 0;
                
       }
    .hero__info {
        width: 728px;
        height: auto;
        margin-bottom: 24px;

    }   

    .hero__img {
        width: 728px;
    }


    .hero__content {
        width: 728px;
    }
    .hero2__info {
        width: 352px;
    }

    .footer {
        
        padding: 35 20px 0 20px;
    }

}

/* Iphone 11Pro Max2  */
@media (max-width: 430px) {
    .container {
        max-width: 374px;


    }

    .header {
        max-width: 414px;
        max-height: 72px;

    }

    .logo {
        width: 48px;
        height: 34px;
    }
    .filters__list {
        height: 53px;
        overflow-x: auto;
        flex-wrap: nowrap;
        overflow-y: hidden;
    }

    .hero__info {
        width: 374px;
        height: 466px;
    }

    .hero-container {
        flex-wrap: wrap;
        margin-right: 20px;
      }
    .hero__content {
        width: 374px;
    }  

    .footer {
        flex-direction: column;
        padding: 0 14px 0 18px;
    }

    .footer__links {
        width: 288px;
        flex-direction: column;
        margin: 0 20px 0 19px;
    }

    .footer__button {
        display: flex;
    }  

    .footer__letter{
        width: 374px;
    }

    .footer__socials {
        margin-bottom: 23px;
        margin-top: 5px;
    }    
}

/* Iphone SE  */
@media (max-width: 375px) {
    .container {
        max-width: 288px;
    }

    .header {
        max-width: 320px;
        max-height: 56px;

    }

    .logo {
        width: 48px;
        height: 34px;
    }

    .hero-container {
        flex-wrap: wrap; 
    
    }

    .footer__button {
        display: none;
    }

    .footer {
        flex-direction: column;
        padding: 0 14px 0 18px;
    }

    .footer__text {
        width: 288px;
    }
    
    .footer__letter {
        width: 288px;
    }
    .footer__links {
        width: 288px;
        flex-direction: column;
    }
    .footer__input_enter {
        width: 288px;
        
    }
.footer__links_list { 
margin: 0 0 24px 0;
}
.footer__socials {
    margin-bottom: 23px;
    margin-top: 5px;
}

}
